html{
  /*background:$background-gray;*/
  display:flex;
  flex-direction:column;
  /*font-family:$font-stack-base;
  font-size:$font-size-base;*/
  min-height:100%;
}
body{
  background:$gray-gradient;
  color:$gray;
  display:flex;
  flex-direction:column;
  font-weight:400;
  margin:0 auto;
  width:100%;
}
a[href^=tel]{
  color:white;
}
.container{
  max-width:1200px;
}

/*.main {
background:$background-gray;
}*/
/*
html{
  background:$background-base;
  display:flex;
  flex-direction:column;
  font-family:$font-stack-base;
  font-size:$font-size-base;
  min-height:100%;
}
body{
  color:$color-first;
  display:flex;
  flex-direction:column;
  font-weight:400;
  margin:0 auto;
  width:100%;
}
a:hover{
  cursor:pointer;
  color:$color-second;
  opacity:.7;
  text-decoration:none;
}
h1{
  font-size:$font-size-h1;
}
h3{
  font-family:$font-stack-second;
  font-size:$font-size-h3;
  font-weight:bold;
  margin:60px 0 35px 0;
  text-align:center;
}
h4{
  font-family:$font-stack-second;
  font-size:$font-size-h4;
  font-weight:bold;
}
h5{
  font-family:$font-stack-second;
  font-size:$font-size-h5;
  font-weight:bold;
  @media (max-width:$screen-md-min) {
    font-size:18px;
  }
}
img{
  width:100%;
  height:100%;
}
input{
  background-color:$background-base-gray;
  background-origin:content-box;
  background-repeat:no-repeat;
  background-position:right;
  outline:none;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #e5e4e4;
  box-shadow:none;
  border-radius:5px;
  color:#555;
  margin-bottom:20px;
  padding:20px;
  font-size:$font-size-small;
  width:100%;
}
form{
  width:100%;
  .buttons{
    width:100%;
  }
}
p{
  line-height:1.5;
  margin-bottom:10px;
}
.buttons{
  background-color:$background-second;
  border:none;
  border-radius:5px;
  color:$color-second;
  font-size:$font-size-smallest;
  font-weight:bold;
  padding:20px 10px;
  text-transform:uppercase;
  width:160px;
  &:hover{
    background-color:$background-second-hover;
  }
}
.buttons-special{
  background-color:$background-third;
  &:hover{
    background-color:$background-third-hover;
  }
}
.buttons-social{
  background-color:#1b95e0;
  border:none;
  border-radius:5px;
  color:$color-second;
  font-size:$font-size-smallest;
  font-weight:bold;
  padding:5px 10px;
  margin-top:15px;
  &:first-child{
    background-color:#3e59a5;
    margin-right:10px;
  }
  &:hover{
    opacity:.7;
  }
}
.center{
  margin:0 auto;
}
.content-centering{
  align-items:center;
  border-radius:50%;
  box-sizing:border-box;
  display:flex;
  justify-content:center;
  height:68px;
  overflow:hidden;
  width:70px;
}
.col-1-3{
  display:flex;
  flex:1 1;
  flex-flow:column;
  @media (max-width:$screen-md-min) {
    flex-basis:100%;
  }
}
.header-logo{
  display:flex;
  flex:1;
  font-size:$font-size-large;
  font-weight:bold;
}
.main{
  box-sizing:border-box;
  flex-grow:1;
  width:100%;
}
.nav-item{
  padding:0 5px;
  width:100%;
  @media (max-width:$screen-md-min) {
    padding:0;
  }
  a{
    color:$color-second;
    text-decoration:none;
  }
  h4{
    font-size:$font-size-smallest;
    font-weight:bold;
    margin-bottom:15px;
    text-transform:uppercase;
    @media (max-width:$screen-md-min) {
      margin:10px 0;
    }
    &:hover{
      opacity:.7;
      cursor:pointer;
    }
  }
  h4.special{
    @media (max-width:$screen-md-min) {
      color:$color-second;
    }
  }
  p{
    font-size:$font-size-smallest;
    font-style:italic;
    @media (max-width:$screen-md-min) {
      display:none;
    }
  }
}
.rotated{
  transform:rotate(90deg);
}
.show-big-size:hover{
  cursor:pointer;
}
!* ---------СПЕЦИАЛЬНЫЕ КЛАССЫ ------------*!
.add-background-second{
  background-color:$background-second;
}
.add-background-blue{
  background-color:#1b95e0;
}
.add-color-third{
  color:$color-third;
}
.add-font-second{
  font-family:$font-stack-second;
}
.add-bold{
  font-weight:bold;
}
!* ----------------------------------------*!*/
