doctype html
html(lang="ru")
    include ./includes/head.jade
    body
        include ./includes/modal.jade
        include ./includes/header.jade
        include ./includes/main.jade
        include ./includes/footer.jade
        include ./includes/scripts.jade

