$enable-gradients:true;
$color-red:green;


/*@import "../../build/bower/bootstrap/scss/bootstrap.scss";*/// BS4 и его переменные по умолчанию

/* Медиа-запросы */ //@media (min-width: 1200px) { ... }

/*// Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px*/
