section.brand
    div.container.my-5.my-md-0
        div.row
            div.col-12.col-sm-6
                img(src="/dist/img/cars/ford-transit.jpg").img-fluid.p-2
            div.col-12.col-sm-6
                div.set
                table.table.table-striped
                    tbody
                        tr
                            td.set__name Эконом
                            td.text-right 5500грн
                        tr
                            td.set__name Стандарт
                                span.best-seller
                            td.text-right 8000грн
                        tr
                            td.set__name Бюджет
                            td.text-right 12800грн
                        tr
                            td.set__name Премиум
                            td.text-right 18000грн