section.contacts.mb-5
    div.container.pl-4.pr-4.pt-4.pt-lg-0
        lead.contacts__note.d-block.mb-3.mb-md-4.mr-auto.ml-auto
            small.
                *каждый комплект подбирается согласно особенностям автомобиля и выбранной ценовой категории, поэтому
                просим обращаться по телефонам или писать нам на почту, если не нашли ответы на свои вопросы в ЧаВо
                (часто задаваемые вопросы).
        h5.contacts__title.mb-1.mb-md-2.mr-auto.ml-auto График работы
        div.row.mb-3.mb-md-4
            div.col-auto
                div.schedule__item.schedule__item_day
                    | пн-пт
                    br
                    | сб
                    br
                    | вс
            div.col-auto
                div.schedule__item
                    | 9 - 18
                    br
                    | 10 - 16
                    br
                    | выходной
        h5.contacts__title.mb-1.mb-md-2.mr-auto.ml-auto Как с нами связаться?
        p.contacts__text.mb-1.mr-auto.ml-auto
            | 095-166-00-59
            br
            | 096-764-13-59
            br
            | 073-764-13-59
        p.contacts__text.mb-3.mb-md-4.mr-auto.ml-auto
            | auto.service.family@gmail.com
        h5.contacts__title.mb-1.mb-md-2.mr-auto.ml-auto Мы на карте
        div.contacts__map.mt-3
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2544.1347484263133!2d30.341955815728877!3d50.38268657946604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cb693d78f80d%3A0xf195cbad70d382f3!2sPnevmo+Garage!5e0!3m2!1sru!2sua!4v1538477291785")(width="100%")(height="450")(frameborder="0")(style="border:5px solid #e58b0e")(allowfullscreen)
