header
    div.card.text-white
        img.card-img.w-100(src="/src/img/background-header.jpg", alt="blue gradient")
        div.card-img-overlay
            div.container
                div.row
                    div.col
                        div.schedule
                            div.schedule__item.schedule__item_day
                                | пн-пт
                                br
                                | сб
                                br
                                | вс
                            div.schedule__item
                                | 9 - 18
                                br
                                | сб
                                br
                                | вс
                        div.social-icons
                            a.social-icons__item
                                img(src="/src/img/instagram.png")
                            a.social-icons__item
                                img(src="/src/img/vk.png")
                            a.social-icons__item
                                img(src="/src/img/youtube.png")
                    div.col
                        div.logo
                            img(src="/src/img/logo.png")
                    div.col
                        div.contacts
                            div.contacts__item
                                | 095-166-00-59
                                br
                                | 096-764-13-59
                                br
                                | 073-764-13-59
                            div.contacts__item.contacts__item_email auto.service.family@gmail.com

