div.modal.fade(id="advantages", tabindex="-1", role="dialog" aria-labelledby="ModalLabel", aria-hidden="true")
            div.modal-dialog.modal-lg(role="document")
                div.modal-content
                    div.modal-header
                        h5.modal-title(id="ModalLabel") В чем преимущества?
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    div.modal-body
                        p.
                            Пневмоподвеска (пневморессора) для грузовых авто и бусов является отличным решением для
                            увеличения грузоподъемности малотоннажного коммерческого автомобиля. И дает автомобилю
                            ряд преимуществ по сравнению со штатной рессорной подвеской:
                        ol
                            li
                                span.
                                    Снижение износа рессор и амортизаторов (штатные рессоры на вашем автомобиле
                                    прослужат дольше, т.к. пневпоподвеска снизит нагрузку на них, а также на другие
                                    элементы подвески);
                            li
                                span.
                                    Устранение шумов и вибрация подвески и ударов отбойника при перегрузе (пневмоподвеска
                                    полностью исключает ситуация, когда коммерческий автомобиль ложится на отбойники);
                            li
                                span.
                                    Возможность установить пневмоподвеску на уставшие рессоры (после установки
                                    пневмоподвески рессоры требующие замены прослужат еще долго);
                            li
                                span.
                                    Правильное положение кузова при любой нагрузке (всегда горизонтальное положение
                                    кузова коммерческого автомобиля в независимости от нагрузки, а это правильная работа головного света и уменьшение тормозного пути);
                            li
                                span.
                                    Уменьшение кренов и раскачивания автомобиля (пневмоподвеска не дает автомобилю
                                    кренится на перегруженный борт, и всегда находится в горизонтальном положении);
                            li
                                span.
                                    Увеличение комфорта для водителя и пассажиров (значительное увеличение комфорта при
                                    езде на автомобили по плохим и неровным дорогам, как для водителя, так и для пассажиров (на пассажирских микроавтобусах);
                            li
                                span.
                                    Увеличение прибыли от перевозок (пневмоподвеска – пневморессора – это вомзжосность
                                    перевезти в 1.5 раза больше груза за 1 рейс + экономия на замене рессор и штрафах  за перегруз;
                            li
                                span.
                                    Возможность управлять свесом автомобиля при загрузке и выгрузке (регулировка заднего
                                    клиренса для выравнивания пола будки коммерческого автомобиля с уровнем пола пандуса для удобной загрузки);
                            li
                                span.
                                    Высокий срок службы пневмоподвески (пневмоподвеска не требует никакого
                                    дополнительного обслуживания, и эффективно работает в течении 5 - 6 лет при любых условиях эксплуатации будь то мороз, грязь, соли и реагенты. Рабочее давление до 15 атмосфер.


header
    div.pos-f-t.wr_nav.d-block.d-md-none
        nav.navbar.navbar-light.navbar_mob
            a.navbar-brand
                img(src="/dist/img/logo-mob.png").d-block.d-md-none
            button.navbar-toggler.bg-light(type="button", data-toggle="collapse",data-target="#navbarToggleExternalContent",
            aria-controls="navbarToggleExternalContent", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
        div.collapse#navbarToggleExternalContent
            div.p-4
                a.nav-link.text-white(href='#')
                    span Главная
                a.nav-link.text-white(href='#')
                    span Комплектующие
                a.nav-link.text-white(href='#')
                    span Легковые
                a.nav-link.text-white(href='#')
                    span ЧАВО
                a.nav-link.text-white(href='#')
                    span Контакты
    div.header__content.text-white.border-0.header.pr-3.pl-3.pb-4.p-md-3
        div.container
            div.row
                div.col-12.col-sm-6.col-md-4.d-flex.flex-column.align-items-center.align-items-sm-start.justify-content-between.order-3.order-sm-0.mb-3.mb-sm-0
                    div.schedule.mb-3.d-none.d-sm-block
                        div.row
                            div.col-auto
                                div.schedule__item.schedule__item_day
                                    | пн-пт
                                    br
                                    | сб
                                    br
                                    | вс
                            div.col-auto
                                div.schedule__item
                                    | 9 - 18
                                    br
                                    | 10 - 16
                                    br
                                    | выходной
                    div.social-icons
                        a.social-icons__item.pr-2(href="https://www.instagram.com/pnevmo__garage/",target="_blank")
                            img(src="/dist/img/instagram.png")
                        a.social-icons__item.pr-2(href="https://vk.com/pnevmo_garage",target="_blank")
                            img(src="/dist/img/vk.png")
                        a.social-icons__item(href="https://www.youtube.com/channel/UCwBzK2RKXVOnmRWi3YFqX0A /",target="_blank")
                            img(src="/dist/img/youtube.png")
                div.col-12.col-sm-6.col-md-4.d-none.d-md-block
                    div.logo.p-1.text-center
                        img(src="/dist/img/logo.png")
                div.col-12.col-sm-6.col-md-4.col-6.d-flex.justify-content-center.justify-content-sm-end.wr_contacts
                    div.contacts.text-center.text-sm-right.d-flex.flex-column.justify-content-between.mt-4.mt-sm-0.mb-5.mb-sm-0
                        div.contacts__item.mb-2.mb-sm-0
                            | 095-166-00-59
                            br
                            | 096-764-13-59
                            br
                            | 073-764-13-59
                        div.contacts__item.contacts__item_email auto.service.family@gmail.com

