-
    var indicatorList = [
        {
        title: "Манометр Camozzi",
        imgName:"indicator-camozzi",
        price: "350грн"
        },
        {
        title: "Манометр Metalwork",
        imgName:"indicator-metalwork",
        price: "300грн"
        }
    ];


mixin indicator-card-table(type)
    div.card-group.col-12.col-sm-6.mb-1.mb-sm-4.text-center
        div.card._pointer._no-shadow-hover._no-pointer-hover.mb-0
            div.card-header.card-header_small
                span.card-title.fitting__title= type.title
            div.card-body
                img.card-img(src="/dist/img/indicator/" + type.imgName + ".jpg")
            div.card-footer
                p.card-text.draw-attention= type.price

section.kit.kit_fittings.mb-5
    div.nn_container
        h2.kit__title.my-5.text-center Манометр
        div.kit__gallery.d-flex.flex-wrap.w_90.justify-content-center
            for type in indicatorList
                +indicator-card-table(type)
