div.card.text-white
    img.card-img.w-100(src="/src/img/car.jpg", alt="black car")
    div.card-img-overlay.d-flex.flex-column.justify-content-center.align-items-center.w-75.mr-auto.ml-auto
        h1.card-title Краткий заголовок
        p.card-text.text-center
            Мы лучше всех. купите у нас превморессоры. Они нужны вам позарез. У нас самые свежие пневморессоры в городе
        a.btn.btn-outline-primary.text-uppercase подробнее


