-
    var managementList = [
    {
    title: "Блок клапанов - двухконтурный",
    description: [
    'Блок клапанов для двухконтурной пневмоподвески',
    'Материал изготовления - алюминий',
    'Подключение 1/8 и 1/4 дюйма'
    ],
    imgName:"valve-block-has-2-loops",
    price: "2000грн"
    },
    {
    title: "Блок клапанов - четырехконтурный",
    description: [
    "Блок клапанов для четырехконтурной пневмоподвески",
    "Материал изготовления - алюминий",
    "Подключение 1/8 и 1/4 дюйма"
    ],
    imgName:"valve-block-has-4-loops",
    price: "4000грн"
    },
    {
    title: "Механический распределитель",
    imgName:"mechanical-spreader",
    price: "1350-2000грн"
    },
    {
    title: "Электромагнитный клапан Metal Work 18 дюймов 12V",
    imgName:"electromagnetic-valve-metal-work",
    price: "500грн"
    },
    {
    title: "Электромагнитный-газовый клапан.",
    description: [
    "Используется так же для пневмоподвески",
    "Возможна замена фильтра"
    ],
    imgName:"electromagnetic-gas-valve",
    price: "500грн"
    },
    {
    title: "Планка на 4 контура",
    imgName:"four-circuit-bar",
    price: "1300грн"
    }
    ];

mixin management-card-table(type)
    div.card-group.col-12.col-sm-6.mb-1.mb-sm-4.text-center
        div.card._pointer._no-shadow-hover._no-pointer-hover.mb-0
            div.card-header.card-header_small
                span.card-title.fitting__title= type.title
            div.card-body
                img.card-img(src="/dist/img/management/" + type.imgName + ".jpg")
                div.description.text-left
                    - var DescArr = []
                    - var getDescArr= type.description + ''
                    - var newDescArr= getDescArr.split(",")
                    - DescArr = newDescArr
                    if type.description
                        ul
                            each item in DescArr
                                    li=item
                    else
                        break
            div.card-footer
                p.card-text.draw-attention= type.price

section.kit.kit_fittings.mb-5
    div.nn_container
        h2.kit__title.my-5.text-center Управление
        div.scheme.mt-0.mx-auto.mb-5
            img(src="/dist/img/management/scheme.jpg")
        div.kit__gallery.d-flex.flex-wrap.w_90.justify-content-center
            each type in managementList
                +management-card-table(type)

