-
    var passengerList = ["passenger-1", "passenger-2", "passenger-3", "passenger-4"]

mixin gallery-passenger(name)
    div.my-slider__item
        img(src="../dist/img/passenger/" + name + ".jpg").img-fluid.p-2


section.passenger.mb-4.mb-lg-5.px-3.px-lg-0
    h2.my-5.text-center Легковые
    div.row.justify-content-around
        div.col-12.col-lg-5.text-center.slide-fwd-center.mb-5.mb-lg-0
            div.gallery
                div.gallery__passenger
                    div.slider.single-item.slick-slider(role="toolbar")
                        img(src="../dist/img/passenger/passenger-2.jpg").img-fluid.p-2
                        //for name in passengerList
                            +gallery-passenger(name)
        div.col-12.col-lg-6.align-self-center
            table.table.table-hover
                tbody
                    tr
                        td.set__name Эконом
                        td.text-right цена грн
                    tr
                        td.set__name Бюджет
                        td.text-right цена грн
                    tr.draw-attention.border-bottom
                        td.set__name Стандарт
                            span.brand__hit.d-inline-block.swing-in-left-fwd.ml-4.ml-sm-5
                                img(src="/dist/img/icons/hit.png").brand__hit.img-fluid
                        td.text-right цена грн
            p.passenger__note.small.mt-3.p-2.p-lg-0.
                *комплекты для иномарок подбираются индивидуально в зависимости от марки автомобиля, поэтому
                стоимость будет подсчитываться для каждого заказа