-
    var tubeList = [
        {
        title: "Трубка",
        imgName:"tube-2",
        price: "от 1 грн",
        list:
        {
        diameter: ["4", "6", "8", "10", "12", "14", "15", "16"],
        price: ["20", "25", "30", "40", "45", "55", "55", "60"]
        }
        }
    ];


mixin tube-card(type)
    div.card-group.col-12.col-sm-6.mb-1.mb-sm-4.text-center
        div.card._pointer._no-shadow-hover._no-pointer-hover.mb-0
            div.card-header.card-header_small
                span.card-title.fitting__title= type.title
            div.card-body
                img.card-img(src="/dist/img/tube/" + type.imgName + ".jpg")
            div.card-footer
                p.card-text.draw-attention= type.price
        div.card.tube._no-shadow-hover._no-pointer-hover
            div.card-body
                table.table.table-striped.table-bordered.table-sm.mb-0
                    thead
                        tr
                            th Диаметр, мм
                            th Цена, грн
                    tbody
                        for c, i in type.list.diameter
                            tr
                                td= type.list.diameter[i]
                                td= type.list.price[i]

section.kit.kit_fittings.mb-5
    div.nn_container
        h2.kit__title.my-5.text-center Трубка
        div.kit__gallery.d-flex.flex-wrap.w_90.justify-content-center
            for type in tubeList
                +tube-card(type)
