doctype html
html(lang="ru")
    include ../includes/head
    body
        include ../includes/header.jade
        div.menu.nn-container.d-none.d-md-flex.justify-content-end.w-100.swing-in-top-fwd
            nav.nav.cl-effect-17
                a.nav-link(href='/')(data-hover="Главная")
                    span Главная
                a.nav-link(href='/pages/components.html')(data-hover="Комплектующие")
                    span Комплектующие
                a.nav-link(href='/pages/passenger.html')(data-hover="Легковые")
                    span Легковые
                a.nav-link(href='/pages/answers.html')(data-hover="ЧаВо")
                    span ЧаВо
                a.nav-link.active(href='/pages/contacts.html')(data-hover="Контакты")
                    span Контакты
        include ../includes/contacts-main.jade
        include ../includes/footer
        include ../includes/scripts

